<nav class="navbar navbar-expand-lg navbar-light bg-light brand-color-blue">
  <a class="navbar-brand brand-color-blue" href="#">My App</a>
  <button class="navbar-toggler brand-color-blue" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <app-navigation></app-navigation>
  <div class="collapse navbar-collapse brand-color-blue" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item " *ngIf="!isAuthenticated()">
        <a class="nav-link brand-color-blue" routerLink="/login">Login</a>
      </li>
      <li class="nav-item " *ngIf="isAuthenticated()">
        <a class="nav-link brand-color-blue" href="#" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>

