<div class="new-signin-page">
  <div class="footer"></div>

  <form class="form" (ngSubmit)="login()">  
    <div class="divrow">
      <div class="divcol-12">
        <div class="heading-1">
          <div class="signin">
            <span class="signin-txt">
              <span>Sign</span>
              <span class="in">in</span>
            </span>
          </div>
        </div>
        <div class="signin-to-add">Signin to add a task</div>
      </div>      
      <div class="divlogin-form">
        <div class="divform-input">
          <div class="input">
            <div class="divplaceholder">
              <input
                type="text"
                class="form-control"
                placeholder="Username"
                id="username"
                [(ngModel)]="username"
                name="username"
                required
                autofocus
                (input)="validateInput('username')"
              />
              <i class="fas" [ngClass]="{'fa-check-circle text:success' : usernameValid, 'fa-times-circle text-danger': !usernameValid}"></i>
            </div>
          </div>
        </div>
        <div class="divform-input1">
          <div class="input1">
            <div class="divplaceholder1">
              <div class="password">
              <input
                type="password"
                class="form-control"
                id="password"
                placeholder="Password"
                [(ngModel)]="password"
                name="password"
                required
                (input)="validateInput('password')"
              />
              <i class="fas" [ngClass]="{'fa-check-circle text:success' : passwordValid, 'fa-times-circle text-danger': !passwordValid}"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a href="#"><div class="link-forgot">Forgot Password?</div></a>
      <button class="button1 signin1" type="submit">
        Sign in
      </button>
      <div class="ptext-center"></div>
      <div class="do-not-have-container">
        <span class="do-not-have-container1">
          <span>Do not have an account? </span>
          <a href="registration" class="create-an-account">Create an account.</a>
        </span>
      </div>      
    </div>
    <div *ngIf="errorMessage" class="mat-elevation-z4 mat-error error-message position-relative border rounded">
      <mat-icon>error_outline</mat-icon> 
      <span>{{ errorMessage }}</span>
    </div>
  </form>

  <div class="header-nav">
    <div class="list">
      <div class="item-link">
        <!-- Dynamic weekday -->
        <div class="wednesday">{{ dayOfWeek }}</div>
      </div>
      <!-- Dynamic Date -->
      <div class="div">{{ currentDate }}</div>
      <!-- Dynamic Time -->
      <div class="div1">{{ currentTime }}</div>
      <img class="list-child" alt="" src="../../assets/bellSimple.svg" />
    </div>
    <img class="final-logo-1-icon" alt="" src="../../assets/final_logo.png" />
  </div>
  <img
    class="young-woman-working-at-desk-1"
    alt="young women working at desk"
    src="../../assets/young-woman-working-at-desk.png"
  />
</div>
