
<div id="login">
  <div class="login-container mt-5 shadow rounded py-3 ">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6">
        <!-- <h1 class="text-center mb-4">
          <img class="profile-img" src="/assets/to-do-list.png" width="100px" alt=""> 
        </h1> -->
          <h2 class="text-center "><strong>Login</strong></h2>
        <div>
          <form class="form-signin" (ngSubmit)="login()">
            <div class="form-group mb-3">
              <input type="text" class="form-control" placeholder="User Name" id="username" [(ngModel)]="username" name="username" required autofocus>
            </div>
            <div class="form-group mb-3">
              <input type="password" class="form-control" placeholder="Password" id="password" [(ngModel)]="password" name="password" required>
            </div>
            <button class="btn btn-lg btn-primary btn-block w-100 mb-3" type="submit">
              Sign in
            </button>
            <div class="d-flex justify-content-between">
              <label class="checkbox">
                <input type="checkbox" value="remember-me"> Remember me
              </label>
              <a href="#" class="text-end need-help">Need help?</a>
            </div>
          </form>
        </div>
        <a href="#" class="text-center new-account d-block mt-3">Create an account</a>
      </div>
    </div>
    <div *ngIf="errorMessage" class="row justify-content-center">
      <div class="col-12 col-md-6 alert alert-danger mt-3">
        {{ errorMessage }}
      </div>
    </div>
  </div>
</div>