<div class="header-nav">
    <div class="list">
      <div class="item-link">
        <!-- Dynamic weekday -->
        <div class="wednesday">{{ dayOfWeek }}</div>
      </div>
      <!-- Dynamic Date -->
      <div class="div">{{ currentDate }}</div>
      <!-- Dynamic Time -->
      <div class="div1">{{ currentTime }}</div>
      <img class="list-child" alt="" src="../../assets/bellSimple.svg" />
    </div>
    <img class="final-logo-1-icon" alt="" src="../../assets/final_logo.png" />
  </div>