.header-nav {
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: 0px 2px 2px rgba(255, 0, 0, 0.25);
    border-radius: 0px 0px 15px 15px;
    background-color: #f3f3f3;
    width: 100%;
    height: 67px;
    color: #505050;
  }

  .list-child {
    position: absolute;
    top: 8px;
    left: 534.47px;
    width: 25px;
    height: 25px;
  }
  .list {
    position: absolute;
    top: calc(50% - 20.5px);
    right: 15.97px;
    width: 601.5px;
    height: 40px;
  }

  .item-link {
    position: absolute;
    top: 1px;
    left: 183.47px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 8px 11.6px 8px 8px;
  }

  .wednesday {
    position: relative;
    line-height: 24px;
    font-weight: 500;
  }

  .div {
    position: absolute;
    top: 9px;
    left: 288.47px;
    line-height: 24px;
    font-weight: 500;
  }
  .div1 {
    position: absolute;
    top: 9px;
    left: 385.47px;
    line-height: 24px;
    font-weight: 500;
  }

  .final-logo-1-icon {
    position: absolute;
    top: 0px;
    left: 45px;
    width: 103px;
    height: 67px;
    object-fit: cover;
  }