<!DOCTYPE html>
<html>
  <body>
    <div class="signup">
      <div class="header-nav">
        <div class="list">
          <div class="item-link">
            <div class="wednesday">Wednesday</div>
          </div>
          <div class="div">16/10/2024</div>
          <div class="div1">11:56:26</div>
          <img
            alt="notification"
            src="../../assets/bellSimple.svg"
            class="list-item"
          />
        </div>
        <!-- <div class="group-parent">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search..." />
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button">
                <img alt="search" src="../../assets/bellSimple.svg" />
              </button>
            </div>
          </div>
        </div> -->
        <img
          class="final-logo-1-icon"
          alt=""
          src="../../assets/final_logo.png"
        />
      </div>
      <div class="footer-parent">
        <div class="footer"></div>

        <div class="row">
          <div class="col-md-6">
            <div class="footer1"></div>
          </div>
          <div class="col-md-6">
            <div class="form">
              <div class="">
                <div class="divcol-12">
                  <div class="signup1 d-flex justify-content-center">
                    <span>Sign</span>
                    <span class="up">up</span>
                  </div>

                  <div class="d-flex justify-content-center">
                    <span>Get yourself </span>
                    <span class="todo">
                      <span class="up">TODO</span>
                      <span> </span>
                    </span>
                    <span>
                      <span>more</span>
                    </span>
                  </div>
                </div>
                <div class="d-flex justify-content-center">
                  <div class="">
                    <div class="">
                      <input
                        class="input"
                        type="text"
                        placeholder="First Name"
                      />
                    </div>

                    <div class="">
                      <input
                        type="text"
                        class="input"
                        placeholder="Last Name"
                      />
                    </div>

                    <div class="">
                      <input type="email" class="input" placeholder="Email" />
                    </div>

                    <div class="">
                      <input type="text" class="input" placeholder="username" />
                    </div>

                    <div class="">
                      <input
                        type="password"
                        class="input"
                        placeholder="password"
                      />
                    </div>

                    <div class="">
                      <input
                        type="password"
                        class="input"
                        placeholder="Confirm Password"
                      />
                    </div>
                    <!-- <div class="">
                      <div class="">
                        <div>
                        <label for="roles">Choose a Role:</label>
                      </div>
                        <select name="role" id="role" class="input">
                          <option value="Administrator">Administrator</option>
                          <option value="General">General</option>
                        </select>
                      </div>
                    </div> -->
                    <div class="heading-4-container">
                      <input
                        type="checkbox"
                        class=""
                        id="terms"
                        name="terms"
                        value="terms"
                      />
                      <span>Accept Terms & Conditions </span>
                      <span class="learn-more">Learn More</span>
                    </div>
                    <div class="d-flex justify-content-center">
                      <button class="button3" [disabled]="isSubmitting">
                        <div class="signup2">Register</div>
                      </button>
                    </div>
                    <div class="ptext-center">
                      <div class="already-have-an-container">
                        <span class="already-have-an-container1">
                          <span>Already have an account? </span>
                          <span class="signin">Signin</span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-group">
          <div class="footer1"></div>
          <img
            class="young-woman-working-on-laptop"
            alt=""
            src="..\assets\woman-register.png"
          />
        </div>
      </div>
    </div>
  </body>
</html>
