.footer {
  position: absolute;
  top: 247px;
  left: 0px;
  background: conic-gradient(from 100.76deg at 50% 50%, #000 0deg, #c00202 360deg);
  width: 1440px;
  height: 223px;
}
/* .footer1 {
  position: absolute;
  top: 102px;
  left: 628px;
  background: conic-gradient(from 100.76deg at 50% 50%, #000 0deg, #c00202 360deg);
  width: 548px;
  height: 470px;
} */
.todo {
  font-weight: 800;
}

.up {
  color: #bb0303;
}
.signup1 {
  line-height: 38px;
  font-weight: 900;
  justify-content: center;
  font-size: 30px;
  color: #606060;
}
.heading-1 {
  /* position: absolute;
  top: 15px;
  left: 8px;
  width: 478px;
  height: 38px; */

}
.divcol-12 {
  /* position: absolute;
  width: 100%;
  top: 0px;
  right: 0px;
  left: 0px;
  height: 137.2px; */
  color: #000;
}
.name {
  display: flex;
  align-items: center;
  width: 50.9px;
  height: 22px;
}
.divplaceholder {
  /* position: absolute; */
  /* top: 6px; */
  /* left: 12px; */
  /* width: 402px; */
  /* height: 22px; */
  /* overflow: hidden; */
}
.input {
  box-shadow: 0px 2px 2px rgba(255, 0, 0, 0.25) inset;
  border-radius: 12px;
  background-color: #fff;
  width: 426px;
  height: 34px;
}
.divform-input {
  /* position: absolute; */
  top: 0px;
  left: 26px;
  width: 478px;
  height: 36px;
}
.username {
  /* position: absolute; */
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  width: 72.4px;
  height: 22px;
}
.divplaceholder1 {
  /* position: absolute; */
  /* top: 6px; */
  /* left: 12px; */
  /* padding: 50px; */
  /* width: 372px; */
  /* height: 22px; */
  /* overflow: hidden; */
}
.button {
  /* position: absolute; */
  top: 9px;
  left: 449px;
  line-height: 16px;
  font-weight: 800;
  color: #606060;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18.2px;
  height: 16px;
}
.divform-input1 {
  /* position: absolute; */
  top: 52px;
  left: 26px;
  width: 478px;
  height: 36px;
}
.button1 {
  /* position: absolute; */
  top: 9px;
  left: 449px;
  line-height: 16px;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18.2px;
  height: 16px;
}
.divform-input2 {
  /* position: absolute; */
  top: 28px;
  left: 0px;
  width: 478px;
  height: 36px;
}
.email {
  /* position: absolute; */
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  width: 175.5px;
  height: 22px;
}
.input2 {
  /* position: absolute; */
  top: calc(50% - 32px);
  left: calc(50% - 187px);
  box-shadow: 0px 2px 2px rgba(255, 0, 0, 0.25) inset;
  border-radius: 12px;
  background-color: #fff;
  width: 426px;
  height: 34px;
  text-align: left;
  color: #6c757d;
}
.divform-group {
  /* position: absolute; */
  top: 104px;
  left: 26px;
  width: 478px;
  height: 64px;
  text-align: center;
  color: #606060;
}
.divlogin-form {
  /* position: absolute; */
  /* top: 156px;
  left: -35px; */
  width: 478px;
  height: 168px;
}
.password {
  /* position: absolute; */
  top: 0px;
  left: 0px;
}
.divform-input3 {
 
  width: 478px;
  height: 36px;
}
.divform-input4 {
  width: 478px;
  height: 36px;
}
.learn-more {
  font-size: 12px;
  color: #2d68ff;
}
.heading-4-container {
  /* position: absolute; */
  /* top: 439px; */
  /* left: 147px; */
  line-height: 19.2px;
  font-weight: 500;
  color: #606060;
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkcircle-icon {
  position: absolute;
  top: 436px;
  left: 107px;
  width: 25px;
  height: 25px;
}
.divrow {
  /* position: absolute; */
  /*top: 31px;
  left: 16px;
  width: 508px;
  height: 507.2px; */
  /* margin-top: 30px; */
  /* text-align: left; */
}
.signup2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button3 {
  border-radius: 8px;
  background-color: #c00202;
  width: 200px;
  height: 35px;
  color: #fff;
}
.signin {
  color: #c00202;
}
.already-have-an-container1 {
  width: 100%;
}
.already-have-an-container {
  line-height: 26px;
  display: flex;
  align-items: center;
  height: 22px;
}
.ptext-center {
  width: 478px;
  height: 26px;
  color: #505050;
}
.form {
  box-shadow: 0px 2px 2px rgba(255, 0, 0, 0.25);
  border-radius: 30px;
  background-color: rgba(243, 243, 243, 0.96);
  width: 548px;
  height: 661px;
}
.young-woman-working-on-laptop {
  position: absolute;
  top: 81.97px;
  left: 0px;
  width: 544px;
  height: 511.1px;
  object-fit: contain;
}
.footer-group {
  /* position: absolute; */
  /* top: 0px;
  left: 99px;
  width: 1176px;
  height: 661px; */
}
.footer-parent {
  position: absolute;
  top: 181px;
  left: 0px;
  width: 1440px;
  height: 661px;
}
.wednesday {
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.item-link {
  position: absolute;
  top: 1px;
  left: 183.47px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8px 11.6px 8px 8px;
}
.div {
  position: absolute;
  top: 9px;
  left: 288.47px;
  line-height: 24px;
  font-weight: 500;
}
.div1 {
  position: absolute;
  top: 9px;
  left: 385.47px;
  line-height: 24px;
  font-weight: 500;
}
.list-child {
  position: absolute;
  top: 8px;
  left: 58.47px;
  width: 25px;
  height: 25px;
}
.list-item {
  position: absolute;
  top: 8px;
  left: 512.47px;
  width: 25px;
  height: 25px;
}
.list {
  position: absolute;
  top: calc(50% - 20.5px);
  right: 15.97px;
  width: 601.5px;
  height: 40px;
}
.group-child {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 15px;
  background-color: #d9d9d9;
  width: 585px;
  height: 36.6px;
}
.magnifyingglass-icon {
  position: absolute;
  top: 8.28px;
  left: 547.21px;
  width: 20px;
  height: 20px;
}
.rectangle-parent {
  position: absolute;
  top: 14.72px;
  left: 280.01px;
  width: 585px;
  height: 36.6px;
}
.group-item {
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 2px 2px rgba(255, 0, 0, 0.25) inset;
  border-radius: 12px;
  background-color: #fff;
  width: 585px;
  height: 36.6px;
}
.rectangle-group {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 585px;
  height: 36.6px;
}
.search-tasks-here {
  position: absolute;
  top: 7.28px;
  left: 27.35px;
  line-height: 26px;
}
.group-parent {
  position: absolute;
  top: 14.71px;
  left: 280.01px;
  width: 585px;
  height: 36.6px;
  font-size: 14px;
}
.final-logo-1-icon {
  position: absolute;
  top: 0px;
  left: 45px;
  width: 103px;
  height: 67px;
  object-fit: cover;
}
.header-nav {
  position: absolute;
  top: 0px;
  left: calc(50% - 720px);
  box-shadow: 0px 2px 2px rgba(255, 0, 0, 0.25);
  border-radius: 0px 0px 15px 15px;
  background-color: #f3f3f3;
  width: 1440px;
  height: 67px;
  text-align: left;
  color: #505050;
}
.signup {
  /* width: 100%; */
  /* position: relative; */
  background-color: #fff;
  /* height: 1024px; */
  /* overflow: hidden; */
  /* text-align: center; */
  font-size: 16px;
  color: #6c757d;
  font-family: Avenir;
}

input{
  margin: 5px;
}