<div class="registration">
  <h2>Register</h2>
  <form (ngSubmit)="register()">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Firstname</mat-label>
      <input matInput [(ngModel)]="firstName" firstname="Firstname" required class="large-input" #nameInput="ngModel" />
      <mat-error *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)">
        Firstname is required.
      </mat-error>
    </mat-form-field>


    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Lastname</mat-label>
      <input matInput [(ngModel)]="lastName" lastname="Lastname" required class="large-input" #nameInput="ngModel" />
      <mat-error *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)">
        Lastname is required.
      </mat-error>
    </mat-form-field>


    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="email" type="email" required class="large-input" #emailInput="ngModel" />
      <mat-error *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)">
        A valid email is required.
      </mat-error>
    </mat-form-field>


    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Username</mat-label>
      <input matInput [(ngModel)]="username" required class="large-input" #usernameInput="ngModel" />
      <mat-error *ngIf="usernameInput.invalid && (usernameInput.dirty || usernameInput.touched)">
        Username is required.
      </mat-error>
    </mat-form-field>


    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Password</mat-label>
      <input matInput [(ngModel)]="password" type="password" required class="large-input" #passwordInput="ngModel" />
      <mat-error *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)">
        Password is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Confirm Password</mat-label>
      <input matInput [(ngModel)]="confirmPassword" type="password" required class="large-input"
        #confirmPasswordInput="ngModel" />
      <mat-error *ngIf="confirmPasswordInput.invalid && (confirmPasswordInput.dirty || confirmPasswordInput.touched)">
        Confirm Password is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Role</mat-label>
      <mat-select [(ngModel)]="role" required>
        <mat-option value="administrator">Administrator</mat-option>
        <mat-option value="general">General</mat-option>

        <!-- Add more roles as needed -->
      </mat-select>

    </mat-form-field>


    <button mat-raised-button color="primary" (click)="register()">
      Register
    </button>

  </form>
  <p>{{ message }}</p>
</div>
