.footer {
  position: absolute;
  top: 247px;
  left: 0px;
  background: conic-gradient(from 100.76deg at 50% 50%, #000 0deg, #c00202 360deg);
  width: 100%;
  height: 223px;
}

.todo {
  font-weight: 800;
}

.up {
  color: #bb0303;
}
.signup1 {
  line-height: 38px;
  font-weight: 900;
  justify-content: center;
  font-size: 30px;
  color: #606060;
  padding-top: 35px;
}

.divcol-12 {
  color: #000;
}
.name {
  display: flex;
  align-items: center;
  width: 50.9px;
  height: 22px;
}

.input {
  box-shadow: 0px 2px 2px rgba(255, 0, 0, 0.25) inset;
  border-radius: 12px;
  background-color: #fff;
  width: 426px;
  height: 34px;
}
.divform-input {
  top: 0px;
  left: 26px;
  width: 478px;
  height: 36px;
}
.username {
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  width: 72.4px;
  height: 22px;
}

.button {
  line-height: 16px;
  font-weight: 800;
  color: #606060;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18.2px;
  height: 16px;
}
.divform-input1 {
  width: 478px;
  height: 36px;
}
.button1 {
  line-height: 16px;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18.2px;
  height: 16px;
}
.divform-input2 {
  width: 478px;
  height: 36px;
}
.email {
  display: flex;
  align-items: center;
  width: 175.5px;
  height: 22px;
}
.input2 {
  box-shadow: 0px 2px 2px rgba(255, 0, 0, 0.25) inset;
  border-radius: 12px;
  background-color: #fff;
  width: 426px;
  height: 34px;
  text-align: left;
  color: #6c757d;
}
.divform-group {
  width: 478px;
  height: 64px;
  text-align: center;
  color: #606060;
}
.divlogin-form {
  width: 478px;
  height: 168px;
}
.divform-input3 {
  width: 478px;
  height: 36px;
}
.divform-input4 {
  width: 478px;
  height: 36px;
}
.learn-more {
  font-size: 12px;
  color: #2d68ff;
}
.heading-4-container {
  line-height: 19.2px;
  font-weight: 500;
  color: #606060;
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkcircle-icon {
  width: 25px;
  height: 25px;
}

.signup2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button3 {
  border-radius: 8px;
  background-color: #c00202;
  width: 200px;
  height: 35px;
  color: #fff;
}
.signin {
  color: #c00202;
}
.already-have-an-container1 {
  width: 100%;
}
.already-have-an-container {
  line-height: 26px;
  display: flex;
  align-items: center;
  height: 22px;
}
.ptext-center {
  width: 478px;
  height: 26px;
  color: #505050;
  display: flex;
  justify-content: center;
}
.form {
  box-shadow: 0px 2px 2px rgba(255, 0, 0, 0.25);
  border-radius: 30px;
  background-color: rgba(243, 243, 243, 0.96);
  width: 548px;
  height: 661px;
}

.young-woman-working-on-laptop {
  width: 544px;
  height: 511.1px;
  object-fit: contain;
}
.footer-parent {
  position: absolute;
  top: 181px;
  left: 0px;
  width: 100%;
  height: 661px;
}
.wednesday {
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.item-link {
  position: absolute;
  top: 1px;
  left: 183.47px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8px 11.6px 8px 8px;
}
.div {
  position: absolute;
  top: 9px;
  left: 288.47px;
  line-height: 24px;
  font-weight: 500;
}
.div1 {
  position: absolute;
  top: 9px;
  left: 385.47px;
  line-height: 24px;
  font-weight: 500;
}
.list-child {
  position: absolute;
  top: 8px;
  left: 58.47px;
  width: 25px;
  height: 25px;
}
.list-item {
  position: absolute;
  top: 8px;
  left: 512.47px;
  width: 25px;
  height: 25px;
}
.list {
  position: absolute;
  right: 15.97px;
  width: 601.5px;
  height: 40px;
}
.group-child {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 15px;
  background-color: #d9d9d9;
  width: 585px;
  height: 36.6px;
}
.magnifyingglass-icon {
  position: absolute;
  top: 8.28px;
  left: 547.21px;
  width: 20px;
  height: 20px;
}
.rectangle-parent {
  position: absolute;
  top: 14.72px;
  left: 280.01px;
  width: 585px;
  height: 36.6px;
}
.group-item {
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 2px 2px rgba(255, 0, 0, 0.25) inset;
  border-radius: 12px;
  background-color: #fff;
  width: 585px;
  height: 36.6px;
}
.rectangle-group {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 585px;
  height: 36.6px;
}
.search-tasks-here {
  position: absolute;
  top: 7.28px;
  left: 27.35px;
  line-height: 26px;
}
.group-parent {
  position: absolute;
  top: 14.71px;
  left: 280.01px;
  width: 585px;
  height: 36.6px;
  font-size: 14px;
}
.final-logo-1-icon {
  position: absolute;
  top: 0px;
  left: 45px;
  width: 103px;
  height: 67px;
  object-fit: cover;
}
.header-nav {
  box-shadow: 0px 2px 2px rgba(255, 0, 0, 0.25);
  border-radius: 0px 0px 15px 15px;
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 67px;
  text-align: left;
  color: #505050;
}
.signup {
  background-color: #fff;
  font-size: 16px;
  color: #6c757d;
  font-family: Avenir;
}

input{
  margin: 5px;
  outline: none;
}