<div class="container">
  <button mat-raised-button (click)="addPriority()" color="accent" style="margin-bottom: 15px; margin-right: 8px;">
    New priority
  </button>

  <button mat-raised-button type="button" (click)="goBack()" color="gray" style="margin-bottom: 15px;">
    Back
  </button>
  <table mat-table [dataSource]="prioritys" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let priority" ><b [style.background-color]="priority.color" style="padding: 5px; width: 50%; text-align: center;">{{ priority.name }}</b></td>
    </ng-container>

    <ng-container matColumnDef="dateCreated">
      <th mat-header-cell *matHeaderCellDef>Date Created</th>
      <td mat-cell *matCellDef="let priority">
        {{ priority.dateCreated | date: "fullDate" }}
      </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let priority">
        <button
          (click)="viewPriority(priority.priorityId)"
          mat-raised-button color="primary"
        >
          View
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="actiondelete">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let priority">
          <button
            (click)="deletePriority(priority.priorityId)"
            mat-raised-button color="warn"
          >
            Delete
          </button>
        </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let priority; columns: displayedColumns"></tr>
    <!-- <thead>
            <tr>
                <th>Name</th>
                <th>Created Date</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let priority of prioritys">
                <td>{{ priority.name }}</td>
                <td>{{ priority.dateCreated | date: 'yyyy-MM-dd'}}</td>
                <td>

                    <button (click)="viewPriority(priority.priorityId)" class="btn btn-primary ">
                        View
                    </button>
                    <button (click)="deletePriority(priority.priorityId)" class="btn btn-danger ml-2">
                        Delete
                    </button>
                   
                </td>
            </tr>
        </tbody> -->
  </table>
</div>
