  <div class="container">
    <div class="form-border">
      <form (ngSubmit)="savePriority()" #priorityForm="ngForm" class="form-container">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Name</mat-label>
          <input
            matInput
            [(ngModel)]="priority.name"
            name="name"
            required
            class="large-input"
            #nameInput="ngModel" 
          />
          <mat-error *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)">
            Name is required.
          </mat-error>
        </mat-form-field>

        <!-- Date Created Field -->
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Choose a date</mat-label>
          <input
            matInput
            [(ngModel)]="priority.dateCreated"
            name="dateCreated"
            [matDatepicker]="picker"
            #dateInput="ngModel"
            required
          />
          <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
             <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="dateInput.invalid && (dateInput.dirty || dateInput.touched)">
            Date is required.
          </mat-error>
        </mat-form-field>

        <!-- Buttons -->

        <section class="button-container">
          <button mat-raised-button color="primary" class="large-button" [disabled]="priorityForm.invalid">Save</button>
          <button mat-raised-button color="warn" class="large-button">Delete</button>
          <button mat-raised-button color="" (click)="goBack()" class="large-button" style="background-color: black; color: white;">Back</button>
        </section>
      </form>
    </div>
  </div>
  