<!-- Form to view and edit category details -->
<div class="container">
  <form (ngSubmit)="saveCategory()">
    <div class="form-group">
      <label for="name">Name</label>
      <input
        [(ngModel)]="category.name"
        name="name"
        class="form-control"
        id="name"
        required
      />
    </div>
    
    <!-- change the date format -->

    <div class="form-group">
      <label for="dateCreated">DateCreated</label>
      <input
        [(ngModel)]="category.dateCreated"
        name="dateCreated"
        type="date"
        class="form-control"
        id="dateCreated"
        required
      />
    </div>

    <button type="submit" class="btn btn-success">Save</button>
    
    <button
      type="button"
      (click)="deleteCategory()"
      class="btn btn-danger"
      *ngIf="category.categoryId">Delete</button>

    <button type="button" (click)="goBack()" class="btn btn-secondary">
      Back
    </button>
  </form>
</div>