<div class="button-container shadow-sm p-3">
  <button class="btn btn-light btn-block mb-2"  routerLink="/categories">Categories</button>
  <button class="btn btn-light btn-block mb-2" routerLink="/prioritys">Priorities</button>
  <button class="btn btn-light btn-block mb-2" routerLink="/users">Users</button>
  <button class="btn btn-light btn-block mb-2" routerLink="/quests">Quests</button>
  <button class="btn btn-light btn-block mb-2" routerLink="/statuses">Status</button>
  <button class="btn btn-outline-danger btn-block" href="#" (click)="logout()">Logout</button>
</div>