<nav class="navbar navbar-expand-lg navbar-light bg-light navigation">
    <a class="navbar-brand brand-color-blue" routerLink="/">Tasks Manager</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" routerLink="/categories">Categories</a>
          </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/prioritys">Priorities</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/users">Users</a>
          </li>  
          <li class="nav-item">
            <a class="nav-link" routerLink="/quests">Quests</a>
          </li>
      </ul>
    </div>
  </nav>