.dashboard-container {
    height: 100vh; /* Full height layout */
  }
  
  .sidebar {
    width: 250px; /* Adjust the width of the sidebar */
    background-color: #f5f5f5; /* Light grey background for sidebar */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for separation */
  }
  
  .sticky-header {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin: 16px 0;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: inherit;
    padding: 8px 0;
  }
  
  mat-drawer-content {
    padding: 16px; /* Space around the main content */
    overflow: auto;
  }

  .dashboard-container {
    display: flex;
    justify-content: space-between;  
    padding: 0;
    margin: 0;
  }
  
  .status-column {
    flex: 1; /* Ensure each column takes up equal width */
    padding: 20px;
    background-color: #f4f7fa;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    min-height: 300px;
  }
  
  .status-column h3 {
    text-align: center;
    font-size: 1.2em;
    color: #333;
    margin-bottom: 15px;
    padding-right: 420px;
  }
  
  .quest-item {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 15px;
    padding-right: 350px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: move;
  }
  
  .quest-details {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    width: 100%;
    max-width: 100%;
    gap: 12px;
  }
  
  .quest-item h4 {
    font-size: 1.1em;
    color: #007bff;
    margin: 0;
    white-space: nowrap;  /* Prevent text from wrapping to the next line */
      /* Hide overflow if text is too long */
   /* Add ellipsis if text is too long */
  }
  
  .quest-item p {
    font-size: 0.9em;
    margin: 0;
    color: #555;
    white-space: nowrap;
  }
  
  .quest-item p:first-child {
    font-weight: bold;
  }
  
  .status-column .quest-item:last-child {
    margin-bottom: 0;
  }
  
  .status-column:hover {
    background-color: #e1e8f0;
  }

  .status-column h3 {
    margin-bottom: 20px;
  }
  
  .quest-item:active {
    transform: scale(1.05);
    transition: transform 0.1s ease-in-out;
  }